<!-- Blog Detail wrapper -->
<div class="blog-detail section-gap pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="thumb-content mb-5 blog-content-p">
          <p>I started my work at Chase as primarily a graphic designer with a knack for pixel perfect transition to HTML and CSS.
            After working on the Web Enterprise team for several years, maintaining legacy sites and re-designing an Aqua
            Logic web portal, I progressed and realized that I wanted to take design the next step- which was for me interactivity. I'd
            already had a foray with Flash and Action Script (yes this was the early 2000s and Flash was still super cool) at an
            animation studio. So I knew that I wanted to continue experimenting. </p>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
              <p>Song Digital Gaming customer affiliate design. This comp is the one that went live.</p>
              <p><img class="img-fluid border-rad" alt="blog-detail" src="../../../../assets/img/chase-gamingCompB.png">
              </p></div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
              <p>Alternative to previous solution.</p>
              <p><img class="img-fluid border-rad" alt="blog-detail" src="../../../../assets/img/chase-gamingSony.jpg">
              </p>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                <p>The public facing Chase Paymentech site which taught me about session cookies and charting and
                  working with Marketing to name a few.</p>
                <p><img class="img-fluid border-rad" alt="blog-detail"
                        src="../../../../assets/img/chase-homepageLiveScreenshot1.jpg"></p></div>
              <div class="col-xl-5">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
